body {
    margin: 0;
    font-family: Arial;
    background: #0b1220;
    color: white;
}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    background: #111827;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HEADER */
header {
    text-align: center;
    padding: 60px;
    background: #1e3a8a;
}

/* SECTIONS */
section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

/* GALLERY */
.gallery {
    display: flex;
    gap: 10px;
}

.gallery img {
    width: 30%;
    border-radius: 10px;
}

/* CARD */
.card {
    background: #1f2937;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}

/* BUTTON */
button {
    padding: 10px;
    margin: 5px;
}

/* NIGHT MODE */
.night {
    background: black;
    color: white;
}

/* READING MODE */
.reading {
    font-size: 20px;
    line-height: 1.8;
}
